<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Sayitfast - Home</title>

  <link crossorigin="anonymous"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        rel="stylesheet">
</head>
<body>
<!-- create navigation bar ( header) -->
<div th:insert="fragments/nav :: navigation"></div>
<br>
<br>
<div class="container">
  <h1>Sayitfast Web Home</h1>
  <div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
  </div>
  <div sec:authorize="hasRole('ROLE_ADMIN')">
    This content is only shown to administrators.
  </div>
  <div sec:authorize="hasRole('ROLE_USER')">
    This content is only shown to users.
  </div>
  <!--  Welcome: <span th:text="${#authentication.getPrincipal().getUsername()}"></span>-->
  <!--  <span th:text="${#authentication.getPrincipal().authorities}"></span>-->
  <!--  <span sec:authentication="principal.username"></span>-->
</div>
<br>
<br>
<div class="table-responsive">
  <div class="container">

  </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
